@use "sass:math";

@mixin push--auto {
    margin: {
        left: auto;
        right: auto;
    }
}

@mixin pseudo($display: block, $pos: absolute, $content: "") {
    content: $content;
    display: $display;
    position: $pos;
}

$breakpoints: (
  "phone":        400px,
  "phone-wide":   480px,
  "phablet":      560px,
  "tablet-small": 640px,
  "tablet":       768px,
  "tablet-wide":  1024px,
  "desktop":      1248px,
  "desktop-wide": 1440px
);
@mixin mq($width, $type: min) {
  @if map_has_key($breakpoints, $width) {
   $width: map_get($breakpoints, $width);
   @if $type == max {
    $width: $width + 1px;
   }
   @media only screen and (#{$type}-width: $width) {
    @content;
   }
  }
}

// TO %
@function prc($pxOne,$pxTwo) {
  $result: math.div($pxOne, $pxTwo) * 100%;
  @return $result;
}

// REM 
@function rem($px) {
  $result: math.div($px, 16) + rem;
  @return $result;
}

// EM 
@function em($px) {
  $result: math.div($px, 16) + em;
  @return $result;
}
