@import url("../styles/fonts.css");
@import url("../styles/normalize.css");
@import url("../styles/basic-styles.css");
// SCSS @import:
@import "mixins&functions";
@import "vars";

@function bind($px) {
    $result: prcp($px, 1920, 1521);
    @return $result;
}
* {
    font-family: "Montserrat";
    transition: 0.2s;
}
.container {
    max-width: 1200px;
    padding: 0 10px 0 10px;
    margin: 0 auto;
}

.main-h3-wrapper {
    text-align: center;
    margin: 0 0 48px;
    .main-h3 {
        font-weight: 400;
        text-transform: uppercase;
        font-size: 50px;
        line-height: 120%;
        color: #333333;
    }
}

.burger {
    position: absolute;
    left: 7px;
    top: 45px;
    span {
        display: block;
        border-radius: 10px;
        width: 34px;
        height: 2.5px;
        margin-bottom: 7px;
        background-color: black;
        &:last-child {
            margin-bottom: 0;
            width: 17px;
        }
    }
}
.header {
    .empty {
        display: none;
        flex: 1 1 0%;
    }
    &__wrapper {
        height: 100px;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 33px 10px 20px 115px;
    }

    &__logo-menu-wrapper {
        display: flex;
        justify-content: center;
    }

    &__search {
        width: 100%;
        padding: 13px 0 12px 50px;
        border: 1px solid #d9d9d9;
        &::placeholder {
            color: #b2b2b2;
            font-size: rem(14);
        }
        &-wrapper {
            position: relative;
            width: 52%;
            margin-left: 56px;
            &::before {
                position: absolute;
                top: 12px;
                left: 16px;
                content: url(../imgs/header/search.svg);
            }
        }
    }

    &__buttons {
        &-wrapper {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            font-size: rem(12);
            gap: bind(50);
        }
    }

    &__buttons-element {
        padding: 0 10px;
        text-align: center;
        font-weight: 500;
        &:first-child {
            display: none;
        }
        &:last-child {
            font-size: rem(14);
        }
    }
}

.logo {
    padding: 0 10px;
    img {
        max-width: 168px;
    }
}

//* CATEGORIES

.categories {
    display: flex;
    flex-wrap: wrap;
    > div {
        height: 700px;
        flex-grow: 1;
        min-width: 385px;
    }
    &__h2-wrapper {
        position: relative;
        display: inline-block;
        top: 43.5%;
        left: 50%;
        transform: translate(-50%, 0);
        ::before {
            content: "";
            display: block;
            position: absolute;
            top: 100%;
            left: 50%; //26.5%;
            transform: translate(-50%, 0);
            width: 191px;
            height: 2px;
            background-color: #d9d9d9;
        }
    }
    h2 {
        font-size: rem(75);
        color: #ffffff;
        font-weight: 400;
        text-transform: uppercase;
        line-height: 122%;
    }
    &__man {
        background: url("../imgs/category/main-category-man.png") no-repeat;
        background-position: -37px 0;
        background-size: cover;
    }

    &__woman {
        background: url("../imgs/category/main-category-woman.png") no-repeat;
        background-size: cover;
    }
}
.brands {
    &__wrapper {
        padding: 84px 0 43px 0;
    }

    &__elements {
        display: flex;
        flex-wrap: wrap;
    }
    &__element {
        padding: 15px;
        height: 111px;
        min-width: 120px;

        display: flex;
        align-items: center;
        flex: 1 1 0;

        border-right: 1px solid #d9d9d9;

        &:last-child {
            border: 0;
        }
        img {
            width: 100%;
        }
    }
}
.button-1 {
}
.collection {
    &__wrapper {
    }

    &__elements {
    }

    &__element {
    }
}
.new-items {
    &__wrapper {
    }

    &__elements {
    }

    &__element {
    }

    &__text {
    }
}
.perfume {
    &__wrapper {
    }

    &__element {
    }

    &__header {
    }
}
.discounts {
    &__wrapper {
    }

    &__banner {
    }

    &__header {
    }

    &__elements {
    }

    &__element {
    }

    &__element-name {
    }

    &__element-price-block {
    }

    &__price-past {
    }

    &__price-current {
    }
}
.artigiani {
    &__wrapper {
    }

    &__text {
    }
}
.sending {
    &__wrapper {
    }

    &__content {
    }

    &__header {
    }

    &__input {
    }

    &__button {
    }
}
.about {
    &__wrapper {
    }

    &__item {
    }
}
.footer {
    &__wrapper {
    }

    &__section-1 {
    }

    &__section-1-text {
    }

    &__section-2 {
    }

    &__section-3 {
    }

    &__section-4 {
    }

    &__section-4-block-1 {
    }

    &__section-4-header {
    }

    &__address {
    }

    &__section-4-block-2 {
    }

    &__section-4-block-3 {
    }
}

@include mq("tablet-wide", max) {
    .header {
        &__wrapper {
            height: 61px;
            padding: 15px 15px 15px 15px;
        }
        .burger {
            top: 17px;
            left: 15px;
        }
        &__search-wrapper {
            display: none;
        }
        .empty {
            display: block;
            flex: 1 1 0%;
        }
        &__buttons {
            flex: 1 1 0%;
            &-element {
                &:first-child {
                    display: block;
                }
                &:nth-child(2) {
                    display: none;
                }
            }
        }
        &__logo-menu-wrapper {
            .burger {
                left: 15px;
            }
        }
    }
    .categories {
        h2 {
            font-size: rem(50);
        }
    }
}
@include mq("tablet", max) {
    .header {
        &__buttons {
            &-text {
                display: none;
            }
        }
    }
    .categories {
        > div {
            width: 100%;
        }
    }
}
@include mq("tablet-small", max) {
    .categories {
        > div {
            height: 500px;
            background-position: center;
        }
    }
}
@include mq("phone", max) {
    .header {
        .empty {
            flex-grow: 1;
        }
        .logo img {
            width: 100px;
        }
        &__buttons-wrapper {
            gap: 10px;
        }
    }
}
